.shop__img{
  width: 100%;
  justify-content: space-around;
  display: flex;
  //padding-left: 600px;
}
.shop__title{
  position: relative;
  top: -150px;
  left: 000px;
  font-size: 70px;
  text-align: center;
  margin-top: -150px;
  //margin-left: 500px;

}.shop__text{
   position: relative;
   top: -200px;
   left: 000px;
   font-size: 20px;
   text-align: center;
 }
//.Shop__body{
//  justify-content: space-around;
//  padding-left: 800px;
//  margin-top: -700px;
//}