.filtr {
    background-color: #F9F1E7;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-top: -65px;


    &__filter {
        display: flex;
        gap: 15px;
    }

    &__1 {
        padding-left: 70px;
        display: flex;
        gap: 25px;
    }

    &__block {
        border: none;
        height: 40px;
        border-left: #616161 1px solid;
        padding-left: 30px;
        padding-bottom: 20px;
        margin-top: -20px;
    }

    &__title {
        font-size: 20px;
    }

    &__2 {
        padding-right: 70px;
        display: flex;
        gap: 25px;
        vertical-align: auto;
    }

    &__button {
        width: 55px;
        height: 55px;
        background-color: white;
        border: none;
        color: #9F9F9F;
        font-size: 20px;
        margin-top: -20px;
    }

    &__button2 {
        width: 188px;
        height: 55px;
        background-color: white;
        border: none;
        color: #9F9F9F;
        font-size: 20px;
        margin-top: -20px;
    }
}
.numeryc{
    display: flex;
    gap: 50px;
    margin-left: 700px;
    margin-top: 80px;

    .ctr1{
        width: 60px;
        height: 60px;
        background: var(--primary-color);
        border-radius: 15px;
        text-align: center;
    }
    .ctr2{
        width: 60px;
        height: 60px;
        background: var(--bez-color);
        border-radius: 15px;
        text-align: center;

    }
    .ctr3{
        width: 60px;
        height: 60px;
        background: var(--bez-color);
        border-radius: 15px;
        text-align: center;
    }
    .next{
        width: 98px;
        height: 60px;
        background: var(--bez-color);
        border-radius: 15px;
        text-align: center;
    }
}
.icons{
    display: flex;
    gap: 90px;
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.bez_rect{
    width: 100%;
    height: 270px ;
    background: var(--bez-color);
}
.products__grid1{
    display: flex;
}
.products__grid2{
    display: flex;
}
.products__grid3{
    display: flex;
}
.products__grid4{
    display: flex;
}
.kk{
    margin-left: 400px;
}
.ctr1_text{
    background-color: #B88E2F;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.ctr2_text{
    background-color: #F9F1E7;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ctr3_text{
    background-color: #F9F1E7;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}.ctr4_text{
     background-color: #F9F1E7;
     width: 100px;
     height: 60px;
     text-align: center;
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
.icons{
    gap: 150px;
    margin-left: 200px;
    margin-top: -300px;
}
.polocka__text{
    color: grey;
}
.prum3{
    width: 1940px;
    height: 270px;
    background-color: #F9F1E7;
    margin-top: 100px;
}