:root{

  /**  Отступы  */
  //--gap-xl: 20px;
  //--gap-l: 15px;
  //
  //--padding-block: 20px;
  //--padding-inline: 20px;
  //
  ///**  Скругления углов  */
  //--border-radius-default: 20px;

  /**  Основные цвета */
  --main-color: withe;

  /**  Шрифты */
  --font-family-title: "Arial";

  --main-color-oran-temp: #b88e2f
}