<footer>
    <hr class="f_line_up">
    <div class="f_verh">
        <div class="f_left">
            <div class="finf">
                <div class="bold24">
                    Furniro.
                </div>
                <div class="f_left_desc">
                    <div class="reg16">
                        400 University Drive Suite 200 Coral Gables,
                        <br>FL 33134 USA
                    </div>
                </div>
            </div>
        </div>
        <div class="f_right">
            <div class="st">
                <div class="med16">Links</div>
                <a href="../index.html">Home <br></a>
                <a href="../shop.html">Shop <br></a>
                <a href="../blog.html">About <br></a>
                <a href="../contact.html">Contact <br></a>
            </div>
            <div class="st">
                <div class="med16">Help</div>
                Payment Options <br>
                Returns <br>
                Privacy Policies
            </div>
            <div class="st">
                <div class="med16">Newsletter</div>
                <form>
                    <div class="f_mail"><input type="mail" name="mail1" class="reg14g" id="mail1" placeholder="Enter Your Email Address">
                        <button type="submit" class="f_but">SUBSCRIBE</button></div>
                </form>
            </div>

        </div>
    </div>
    <hr class="f_line_down">
    <div class="f_niz reg16b">
        2023 furniro. All rights reverved
    </div>
</footer>
