<!--<div class="card">-->
<!--    <picture >-->
<!--        <source srcset="@@img-sm.webp" media="(max-width: 480px)">-->
<!--        <source srcset="@@img-lg.webp" media="(max-width: 800px)">-->
<!--        <img src="@@img.webp" alt="@@alt" class="card__image">-->
<!--    </picture>-->
<!--    <div class="card__body">-->
<!--        <h3 class="card__title">@@title</h3>-->
<!--        <p class="card__text">@@text</p>-->
<!--    </div>-->
<!--</div>-->

<div class="header">
    <div class="logo">
    <div class="ph1">
    <img src="./assets/images/Meubel House_Logos-05.webp" alt="" class="logo__image">
    </div>
    <div class="h1">
        Furniro
    </div>
    </div>

    <div class="naz">
    <div class="h1">
        Home
    </div>
    <div class="h1">
        Shop
    </div>
    <div class="h1">
        About
    </div>
    <div class="h1">
        Contact
    </div>
    </div>

    <div class="ik">
    <div class="ph2">
        <img src="./Vector (17).webp" alt="" class="logo__image">
    </div>
        <div class="ph3">
            <img src="./Vector (18).webp" alt="" class="logo__image">
        </div>
        <div class="ph4">
            <img src="./Vector (19).webp" alt="" class="logo__image">
        </div>
        <div class="ph5">
            <img src="./Vector (20).webp" alt="" class="logo__image">
        </div>
    </div>

</div>

