// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';
@use 'pages/index';

// ==== 4. Components ====
@use 'components/button';
@use 'components/header';
@use "components/footer";

body {
  background-color: var(--main-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, li, p, span, h1, h3 {
  font-family: var(--font-family-title);
}

